<!DOCTYPE HTML>
<html ng-app="TutorialApp">
<head ng-controller="TutorialController">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="viewport" content="target-densitydpi=device-dpi" />
  <meta name="HandheldFriendly" content="true"/>
  <link rel="stylesheet" href="styles/main.css" type="text/css" />

  <title>{{ module.name }}</title>
</head>
<body ng-controller="TutorialController">

   <!--====================================================================== 
                                   Sidebar 
     ====================================================================== -->
  <div id="sidebar" class="interface">
    <a class="toc_title" href="#">
       {{ module.name }} <span class="version">({{ module.version }})</span>
    </a>
    <a class="toc_title" href="#">
      Introduction
    </a>
   <ul class="toc_section">
      <li>» <a href="#resources">Resources</a></li>
   </ul>
   <div id="classes-menu" ng-repeat="class in module.classes">
      <a class="toc_title" href="#{{ class.name.trim()}}" >
         {{ class.name }}
      </a>
      <ul class="toc_section" ng-repeat="function in class.functions">
         <li>- 
            <a href="#{{ function.name.trim() }}">{{ function.name }}</a>
         </li>
      </ul>
   </div>  <!-- ./.classes-menu -->

  </div> <!-- ./#sidebar -->

  <div class="container">

   <!--====================================================================== 
                                  Introduction 
     ====================================================================== -->
   <h1>{{ module.name }}</h1>
   <span ng-bind-html="module.introduction"></span>
   <div id="resources">
        <h2>Resources</h2>
        <ul>
            <li ng-repeat="currentResource in module.resources">
               {{ currentResource.author }}, ({{ currentResource.year }}). <i>{{ currentResource.title }}</i>. Available at <a target="_blank" href="{{ currentResource.url }}">{{ currentResource.url }}</a> [Accessed {{ currentResource.date }}].
            </li>
        </ul>
   </div> <!-- ./#resources -->
   <!--====================================================================== 
                                 Documentation 
     ====================================================================== -->
    <div id="documentation">
      <div ng-repeat="class in module.classes">
         <h2 id="{{ class.name.trim() }}">{{ class.name }}</h2>
         <div id="{{ currentFunction.name.trim() }}" ng-repeat="currentFunction in class.functions">
            <p>
               <b class="header">{{ currentFunction.name }}</b>
               <code>{{ currentFunction.signature }}</code>
               <span class="alias" ng-show="function.alias.length > 0">
                  Alias: <b ng-repeat="alias in function.alias">{{ alias }}</b>
               </span>
               <br/>
               <span ng-bind-html="currentFunction.description"></span>
            </p>
<pre>
{{ currentFunction.code }}
</pre>
         </div> <!-- /#function -->
      </div> <!-- ./#documentation -->

   </div> <!-- ./.container -->

  <!-- Include Underscore, so you can play with it in the console. -->
  <script type="text/javascript" src="classes.js"></script>
  <script type="text/javascript" src="config.js"></script>
  <script type="text/javascript" src="scripts/angular.min.js"></script>
  <script type="text/javascript" src="scripts/angular.main.js"></script>
  <script type="text/javascript" src="scripts/angular-sanitize.min.js"></script>
</body>
</html>
